/* MOBILE STYLES */

#registration {
	background: var(--bg-grey-200);
	height: 100vh;
	margin: 0 auto;
	padding: 80px;
}

#registration-form {
	font-family: var(--bodytext-font);
	background-color: #fff;
	max-width: 300px;
	margin: 20px auto;
	border: solid 1px var(--bg-grey-300);
	border-radius: 5px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	padding: 40px 40px;
}

#registration-form h1 {
	color: var(--text-grey-900);
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}

#registration-form .email-label {
	color: var(--text-grey-600);
	display: block;
}

#registration-form .password-label {
	color: var(--text-grey-600);
	/* background-color: lightgreen; */
	display: block;
}

#registration-form input {
	border: 1px solid var(--bg-grey-200);
	box-shadow: inset 0 2px 4px 0px hsla(0, 0, 0, 0.08);
	/* background-color: var(--bg-grey-200); */
	width: 91%;
	border-radius: 3px;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 24px;
	color: var(--text-grey-600);
	padding: 8px 12px;

}

.registration-button {
	background: var(--indigo-500);
	border-radius: 5px;
	color: #fff;
	padding: 9px 12px;
	width: 100%;
	font-size: 16px;
	cursor: pointer;
	margin-top: 4px;
}

.registration-button:hover {
	background: var(--indigo-600);
}

.terms {
	margin-top: 12px;
	color: var(--text-grey-500);
	letter-spacing: -0.025rem;
	text-align: center;
}

.terms a {
	color: var(--text-grey-500);
	letter-spacing: -0.025rem;
	text-decoration: underline;
}

.already-account {
	color: var(--text-grey-600);
	font-family: var(--bodytext-font);
	margin: 0px auto;
	text-align: center;
}

.already-account a {
	color: var(--indigo-500);
	cursor: pointer;
}

.already-account a:hover {
	color: var(--indigo-600);
}




/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {
	
	#registration {
		background: var(--bg-grey-200);
		height: 85vh;
		margin: 0 auto;
		padding: 80px;
	}

	#registration-form {
		grid-column: 1/4;
		font-family: var(--bodytext-font);
		background-color: #fff;
		margin: 20px auto;
		border: solid 1px var(--bg-grey-300);
		border-radius: 5px;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	}

	.already-account {
		color: var(--text-grey-600);
		font-family: var(--bodytext-font);
		text-align: center;
		grid-column: 1/4
	}

	.already-account a {
		color: var(--indigo-500);
		cursor: pointer;
	}

	.already-account a:hover {
		color: var(--indigo-600);
	}

}