
.purchased-card {
	grid-column: span 2;
	display: flex;
}

.purchased-card-info {
	text-align: left;
}

.dimensions

.purchased-card-info h2 {
	font-size: 18px;
}

.purchased-card-info p {
	font-family: var(--bodytext-font);
}

