
.product-page-wrapper {
  background-color: var(--bg-grey-200);
}

.config-container {
  border: solid 3px magenta;
  background-color: #fff;
  display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
  box-sizing: border-box;

}

.viewer-container {
  background-color: yellow;
  grid-column: 1/6;
}

.slider-form {
  grid-column: 6/9;
  border: solid 2px chartreuse;
  border-radius: 5px;
}

.viewer {
  background-color: red;
}

canvas {
  background-color: purple;
}

/* canvas {
  padding: 20px;
  background-color: lightseagreen;

} */

.form-block {
  background-color: lightsalmon;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.slider-label {
  background-color: lightskyblue;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radio {
  background-color: plum;
}

.radio-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-block {
  background-color: lightslategrey;
  justify-content: space-around;
  align-items:center;
  display:flex;
  flex-direction: column;
}






