
.product-page-wrapper {
  background-color: var(--bg-grey-200);
}

.grid {
  border: solid 3px magenta;
}

.viewer-container {
  grid-column: 1/6;
  /* margin-right: 20px; */
}

.slider-form {
  grid-column: 6/9;
  border: solid 2px chartreuse;
  background: white;
  border-radius: 5px;
}

.viewer {

}



.form-block {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.slider-label {
  background-color: lightskyblue;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.radio {
  background-color: plum;
}

.radio-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-block {
  background-color: lightslategrey;
  justify-content: space-around;
  align-items:center;
  display:flex;
  flex-direction: column;
}






