/* MOBILE STYLES */



/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {

	#product-index {
		margin-top: 140px;
	}

	.product-index-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 50px;
		max-width: 1060px;
		margin: 0 auto;
		width: 100%;
	}

	.product-card {
		grid-column: span 1;
		box-shadow: var(--shadow-lg);
		border-radius: 5px;
	}

	.product-card-img-container img{
		border-radius: 5px 5px 0px 0px;
		/* width: 100%; */
	}

	.product-card p {
		margin: 10px;
	}

	.customise-button {
		border-radius: 5px;
		background-color: var(--wireframe-purple);
		padding: 6px 20px;
		font-size: 10px;
		color: #fff;
		cursor: pointer;
		margin-bottom: 20px;
	}

}