/* MOBILE STYLES */



/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {

	#product-index {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		box-sizing: border-box;
		place-items: center;

		max-width: 1060px;
    margin: 100px auto;
    width: 100%;
	}

	/* NEED TO COME BACK TO THIS - NOT RESPONSIVE AND A HACKY SOLUTION */
	.product-index-heading {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		box-sizing: border-box;
		max-width: 1060px;
		margin: 150px 0px 0px 245px;
		width: 100%;
	}

	.product-card {
		display: grid;
		grid-column: span 1;
		box-shadow: var(--shadow-2xl);
		border-radius: 5px;
		place-items: center;
	}

	.product-card p {
		margin: 10px;
	}

	.customise-button {
		border-radius: 5px;
		background-color: var(--indigo-500);
		padding: 6px 20px;
		font-size: 10px;
		color: #fff;
		cursor: pointer;
		margin-bottom: 20px;
	}

}