#reviews {
	/* background: var(--tylko-peach-gradient); */
	padding: 80px;
}

.review-card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
  grid-row: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
	max-width: 1060px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.review-card {
	width: 100%;
	display: flex;
	padding: 24px;
	margin-bottom: 18px;
	border-left: 1px solid var(--bg-grey-300);
	border-radius: 8px;
	box-shadow: var(--shadow-lg);
}

.furniture-icon {
	height: 84px;
	width: 84px;
	border-radius: 50%;
	background: var(--powerpoint-indigo);
	box-shadow: var(--shadow-lg);
	margin-left: 0;
	margin-right: 24px;
}

.review-card-content {
	display: flex;
	flex-direction: column;
}

.reviewer-name p {
	font-family: var(--bodytext-font);
	color: var(--text-grey-800);
}

.reviewer-date p {
	color: var(--powerpoint-purple);
}

.name-date {
	display: flex;
}




