/* MOBILE STYLES */

.about-text {
	grid-column: 2/8;
	margin: 40px 20px;
}

.about-text h1 {
	text-align: center;
	margin-bottom: 10px;
}

/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {

	#about {
		background: var(--text-grey-500);
	}

	.about-text {
		grid-column: 1/4;
		margin: 40px 20px;
	}

}

