	.site-nav {
		background: var(--powerpoint-indigo);
		padding: 20px 0px;
	}

	#logo h1 {
		color: #fff;
		grid-column: 1;
		font-family: var(--headline-font);
	}
	
	.site-nav a {
		color: #fff;
	}


	.nav-content-grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 10px;
		box-sizing: border-box;
		background-color: var(--powerpoint-indigo);
		max-width: 1060px;
		margin: 0 auto;
		width: 100%;
	}

	.links {
		display: flex;
    justify-content: flex-end;
		place-items: center;
		grid-column: 6/9;
		justify-content: space-evenly;
		font-size: 18px;
	}

	.items-counter {
		color: #fff;
	}


	.dropdown {
		display: grid;
		text-align: center;
		grid-auto-flow: column;
		place-items: center;
		width: 100%;
		background: var(--bg-grey-200);
	}

	.dropdown-grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 10px;
		box-sizing: border-box;
	}
	
	.container {
		position: relative;
		cursor: pointer;
	}
	
	.display {
		position: relative;
		border: none;
		border-radius: 5px;
		outline: none;
		cursor: pointer;
		transition: background-color 350ms;
	}
	
	.display:active {
		background-color: #000000;
	}
	
	.list-body {
		position: absolute;
		top: 0px;
		z-index: 1;
		box-sizing: border-box;
		width: 100%;
		height: 400px;
		padding: 0 20px;
		overflow: hidden;
		background-color: lightgrey;
		border-radius: 5px;
	}
	
	.list {
		padding: 0;
		list-style-type: none;
	}
	
	.list-item {
		padding: 5px 0;
	}
	
	.list-item--active {
		color: blue;
		transition: color 1500ms;
	}
	
	/* This fires as soon as the element enters the dom */
	.list-transition-enter,
	.list-transition-appear {
		/*We give the list the initial dimension of the list button*/
		top: 0;
		width: 120px;
		max-height: 40px;
		color: transparent;
		background-color: lightgrey;
	}
	/* This is where we can add the transition*/
	.list-transition-enter-active,
	.list-transition-appear-active {
		top: 45px;
		width: 100%;
		max-height: 600px;
		background-color: lightgrey;
		transition: all 500ms;
	}
	
	/* This fires as soon as the this.state.showList is false */
	.list-transition-exit {
		top: 45px;
		width: 200px;
		max-height: 200px;
		background-color: lightgrey;
	}
	/* fires as element leaves the DOM*/
	.list-transition-exit-active {
		top: 0;
		width: 120px;
		max-height: 40px;
		color: transparent;
		background-color: lightgrey;
		transition: all 400ms;
	}
	
	.dropdown-card-1 {
		grid-column: 2/3;
	}
	
	.dropdown-card-2 {
		grid-column: 4/6;
	}
	
	.dropdown-card-3 {
		grid-column: 7/9;
	}













	/* .site-nav h1 {
		grid-column: 1/3;
		place-items: center;
		color: var(--text-grey-500);
	} */

	/* .site-nav ul{
    display: flex;
    grid-column: 5/9;
    justify-content: flex-end;
    place-items: center;
  }
  .site-nav li {
		margin-left: 40px;
		font-size: 18px;
  } */
	


	




	/* nav {
		display: grid;
		grid-template-rows: minmax(min-content, 100px) min-content;
	}

	nav .content {
		display: grid;
		place-items: center;
		grid-auto-flow: column;
		align-content: space-evenly;
	}

	nav .content .links {
		display: grid;
		grid-gap: 15px;
		grid-auto-flow: column;
		grid-auto-columns: minmax(min-content, 90px);
		place-items: center;
	}

	nav .menu {
		cursor: pointer;
	}

	nav .dropdown {
		display: grid;
		text-align: center;
		grid-auto-flow: column;
		place-items: center;
		position: absolute;
		width: 100%;
		background: var(--bg-grey-200);
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 10px;
		box-sizing: border-box;
	}

	nav .dropdown-card-1 {
		grid-column: 2/4;
	}

	nav .dropdown-card-2 {
		grid-column: 4/6;
	}

	nav .dropdown-card-3 {
		grid-column: 6/8;
	}

	nav .dropdown-icon {
		color: red;
		position: absolute;
		top: 40px;
	}

	nav .dropdown-image {
		height: 180px;
		width: 200px;
	} */


