/* MOBILE STYLES */

/* INCLUDES GRID SETTINGS */
.site-nav {
	margin: 0 20px;
}

.site-nav h1 {
	grid-column: 1/2;
	grid-row: 1;
	display: inline-block;
	text-decoration: none;
}

.site-nav ul {
	display: none;
}


/* nav {
	margin: 0 20px;
	padding-bottom: 10px;
} */


/* nav .links {
	display: none;
} */

/* LARGE TABLET AND LAPTOP STYLES */
@media screen and (min-width: 960px) {

	.site-nav {
		padding: 0 20px;
  }

	.site-nav h1{
		grid-column: 1/4;
		grid-row: 1;
	}

  .site-nav ul{
    display: flex;
    grid-column: 6/9;
    justify-content: flex-end;
  }
	
  .site-nav li{
		margin-left: 20px;

	}
	







	/* nav {
		display: grid;
		grid-template-rows: minmax(min-content, 100px) min-content;
	}

	nav .content {
		display: grid;
		place-items: center;
		grid-auto-flow: column;
		align-content: space-evenly;
	}

	nav .content .links {
		display: grid;
		grid-gap: 15px;
		grid-auto-flow: column;
		grid-auto-columns: minmax(min-content, 90px);
		place-items: center;
	}

	nav .menu {
		cursor: pointer;
	}

	nav .dropdown {
		display: grid;
		text-align: center;
		grid-auto-flow: column;
		place-items: center;
		position: absolute;
		width: 100%;
		background: var(--bg-grey-200);
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 10px;
		box-sizing: border-box;
	}

	nav .dropdown-card-1 {
		grid-column: 2/4;
	}

	nav .dropdown-card-2 {
		grid-column: 4/6;
	}

	nav .dropdown-card-3 {
		grid-column: 6/8;
	}

	nav .dropdown-icon {
		color: red;
		position: absolute;
		top: 40px;
	}

	nav .dropdown-image {
		height: 180px;
		width: 200px;
	} */

}